*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
}
@font-face {
    font-family:"Inter";
    src: url(sources/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
:root{
    --cinza:#3A404E;
    --cinza-secundario: #667085;
    --fonte:"Inter";
    --vermelho:#8E2424;
    --preto:#101828;
}
.cabecalho{
    position: relative;
    height: 80px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.icone_globo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.icone_texto{
    font-family:var(--fonte);
    font-weight: 500;
    color: var(--cinza);
}
.navbar{
    display: flex;
    flex-direction: row;
    gap: 28px;
}
.navbar_links{
    color: var(--cinza-secundario);
    font-family:var(--fonte);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.navbar_links:hover{
    color: var(--vermelho);
    text-decoration:underline;
}
.cabecalho_botoes{
    cursor: pointer;
    padding: 15px;
    display: flex;
    align-items: center;
    gap:40px;
    font-family:var(--fonte);
    font-weight: 600;
}
.botao_entrar{
    background: none;
    border: none;
    color: var(--cinza-secundario);
    padding: 10px 12px;
}
.botao_entrar:hover{
    color: var(--vermelho);
    text-decoration:underline;
}
.botao_cadastrar{
    background-color:var(--vermelho);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 12px;
}
.botao_cadastrar:hover{
   background: none;
    color: var(--vermelho);
    transition: all ease 0.5s;
    text-decoration: underline;
}
.sobrenos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 0px;
    gap: 24px;
}
.sobrenos_span{
color: var(--vermelho);
font-family: var(--fonte);
}
.sobrenos_titulo{
    font-family:var(--fonte);
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color:var(--preto);
    letter-spacing: -0.02em;
}
.sobrenos_texto{
    display: flex;
    text-align: center;
    margin: 0em 10em;
}
.sobrenos_paragrafo{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    font-family: var(--fonte);
    color: var(--cinza-secundario);
    text-align: center;
}

.metricas{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content:right;
    padding: 0px;
    gap:64px;
    margin: 0em 8em 0em 8em;
}
.metrica{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}
.metrica_titulo{
    color: var(--vermelho);
    font-family: var(--fonte);
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
    font-size: 55px;
}
.metrica_subtitulos{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    font-family: var(--fonte);
    color: var(--preto);
}
.metrica_texto{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    font-family: var(--fonte);
    color: var(--cinza-secundario);
    
}
 /*Responsivo */
@media screen and (max-width:720px) {
    .navbar{
        display: none;
    }
    .sobrenos{
        display:flex;
        flex-direction: column;
        text-align: center;
    }
    .icone_texto{
        display: none;
    }
}
@media screen and (max-width: 900px){
    .cabecalho{
        gap: 0;
        justify-content: center;
    }
    .cabecalho_botoes{
        gap: 24px;
    }
    .icone_globo{
        gap: 0px;
    }
    .icone_texto{
        margin: 0 1em 0 0;
    }
}